<section class="w-full p-10 flex flex-col gap-10">
  <h2 class="text-center text-yellow-700 font-bold text-3xl">
    Una estancia de lujo en el Centro Histórico de Mérida
  </h2>
  <p class="text-center text-lg">
    Maravíllate con las espectaculares vistas de la ciudad colonial desde tu
    habitación en el corazón de Mérida. Nuestro elegante hotel boutique se
    encuentra a solo 5 minutos del Palacio de Gobierno y la Catedral, y cuenta
    con una terraza panorámica en la azotea, 3 restaurantes gourmet que celebran
    la gastronomía yucateca, y un spa completo con 8 salas de tratamiento
    inspiradas en rituales mayas. Ofrecemos más de 500 m² de espacios para
    eventos, una hermosa piscina en el patio central, y acceso exclusivo a
    experiencias culturales en haciendas históricas.
  </p>
</section>
