---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="w-full p-10 flex flex-col gap-5 xl:mt-15">
  <h2
    class="text-center uppercase text-yellow-700 font-bold text-3xl md:text-5xl"
  >
    {t("about.title")}
  </h2>
  <p class="text-center text-lg xl:px-130">
    {t("about.description")}
  </p>
</section>
