---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="w-screen flex flex-col text-gray-800 shadow xl:h-[86vh]">
  <img src="/images/hero.jpg" class="inset-0 w-full h-full object-cover" />
  <nav class="bg-[#efe5d8] h-30 flex items-center justify-evenly xl:hidden">
    <button
      id="first-btn"
      class="transition-colors duration-300 hover:text-yellow-600 py-2 hover:border-b-3 hover:border-yellow-600"
      >{t("hero.call")}</button
    >
    <button
      id="second-btn"
      class="transition-colors duration-300 hover:text-yellow-600 py-2 hover:border-b-3 hover:border-yellow-600"
      >{t("hero.location")}</button
    >
    <button
      id="third-btn"
      class="transition-colors duration-300 hover:text-yellow-600 py-2 hover:border-b-3 hover:border-yellow-600"
      >{t("hero.arrival")}</button
    >
  </nav>

  <!-- Desktop Nav -->
  <nav
    class="hidden xl:flex bg-[#efe5d8] h-30 xl:h-60 items-center justify-evenly"
  >
    <div class="flex flex-col gap-3">
      <h3 class="py-2">
        {t("hero.call")}
      </h3>
      <a href="tel:+529991234567" class="underline hover:text-gray-600"
        >{t("contact.phone")}</a
      >
      <p>{t("contact.email")}</p>
    </div>
    <div class="flex flex-col gap-3">
      <h3 class="py-2">
        {t("hero.location")}
      </h3>
      <p>{t("hero.location.full")}</p>
      <a
        target="_blank"
        href="https://maps.app.goo.gl/vi2zcPR35RMMVBZr6"
        class="underline hover:text-gray-600">{t("hero.location.area")}</a
      >
    </div>
    <div class="flex flex-col gap-3">
      <h3 class="py-2">
        {t("hero.arrival")}
      </h3>
      <p>{t("hero.checkin")}</p>
      <p>{t("hero.checkout")}</p>
    </div>
  </nav>

  <!-- Hidden Call Us card -->
  <div id="first-card" class="bg-[#efe5d8] h-20 text-center hidden">
    <a href="tel:+529991234567" class="underline hover:text-gray-600"
      >{t("contact.phone")}</a
    >
    <p class="underline hover:text-gray-600">{t("contact.email")}</p>
  </div>

  <!-- Hidden Location card -->
  <div id="second-card" class="bg-[#efe5d8] h-20 text-center hidden">
    <p class="font-bold text-black text-xl">{t("hero.location.full")}</p>
    <a
      target="_blank"
      href="https://maps.app.goo.gl/vi2zcPR35RMMVBZr6"
      class="underline hover:text-gray-600">{t("hero.location.area")}</a
    >
  </div>

  <!-- Hidden Arrival card -->
  <div id="third-card" class="bg-[#efe5d8] h-20 text-center hidden">
    <p>{t("hero.checkin")}</p>
    <p>{t("hero.checkout")}</p>
  </div>
</section>

<script is:inline>
  function hideAllCards() {
    // Hide all cards
    document.getElementById("first-card").classList.add("hidden");
    document.getElementById("first-card").classList.remove("block");
    document.getElementById("second-card").classList.add("hidden");
    document.getElementById("second-card").classList.remove("block");
    document.getElementById("third-card").classList.add("hidden");
    document.getElementById("third-card").classList.remove("block");

    // Remove active styles from all buttons
    document
      .getElementById("first-btn")
      .classList.remove("border-yellow-600", "border-b-3", "text-yellow-600");
    document
      .getElementById("second-btn")
      .classList.remove("border-yellow-600", "border-b-3", "text-yellow-600");
    document
      .getElementById("third-btn")
      .classList.remove("border-yellow-600", "border-b-3", "text-yellow-600");
  }

  document.getElementById("first-btn").addEventListener("click", () => {
    const button = document.getElementById("first-btn");
    const card = document.getElementById("first-card");

    if (card.classList.contains("hidden")) {
      hideAllCards();
      card.classList.add("block");
      card.classList.remove("hidden");
      button.classList.add(
        "border-yellow-600",
        "border-b-3",
        "text-yellow-600"
      );
    } else {
      hideAllCards();
    }
  });

  document.getElementById("second-btn").addEventListener("click", () => {
    const button = document.getElementById("second-btn");
    const card = document.getElementById("second-card");

    if (card.classList.contains("hidden")) {
      hideAllCards();
      card.classList.add("block");
      card.classList.remove("hidden");
      button.classList.add(
        "border-yellow-600",
        "border-b-3",
        "text-yellow-600"
      );
    } else {
      hideAllCards();
    }
  });

  document.getElementById("third-btn").addEventListener("click", () => {
    const button = document.getElementById("third-btn");
    const card = document.getElementById("third-card");

    if (card.classList.contains("hidden")) {
      hideAllCards();
      card.classList.add("block");
      card.classList.remove("hidden");
      button.classList.add(
        "border-yellow-600",
        "border-b-3",
        "text-yellow-600"
      );
    } else {
      hideAllCards();
    }
  });
</script>
